- let paginates = window.bauerSharedLibs.pug.helpers.paginate(data)

ul.pagination
  each paginate in paginates
    li
      a(href=paginate.href class=paginate.isActive ? 'pagination__link--active' : 'pagination__link') #{paginate.display}
