-
  //- @todo: refactor to use server side helper
  //- let pages = window.bauerSharedLibs.pug.helpers.paginate(data)
  let pages = [{
    href: '#',
    diplay: 1
  }]

ul.pagination
  each page in pages
    li
      a(href=page.href class=page.isActive ? 'pagination__link--active' : 'pagination__link') #{page.display}
