// --------------------------------------------------
// Local Variables
$border-radius-default: 0;
// --------------------------------------------------
.pagination {
  li {
    a {
      color: $black-color;
      margin-right: 2px;
    }
  }
  li:first-child,
  li:last-child {
    a {
       @include border-radius($border-radius-default);
    }
  }
}
