// --------------------------------------------------
.pagination {
  li {
  a {
      &.pagination {
      &__link {
        color: $black-color;
        margin-right: 2px;
        &--active {
          color: $black-color;
          background: #eee;
          }
        }
      }
    }
  }
  li:first-child,
  li:last-child {
    a {
       @include border-radius($border-radius-default);
    }
  }
}
