-
  let alt = ''
  if (!alt) {
    altText = data.title
  } else {
    altText = data.altText
  }

include ../mixins/renderImage
+renderImage(data.defaultImage.path, data.images, altText, data.caption, data.credits)
