article.small-content-card.container 
    .tile-style.row
        a.img-container.col-xs-4.col-sm-12(href=url) 
            include ../partials/small_card_image
        .small-content-card__info.col-xs-8.col-sm-12
            include ../partials/title
            .hidden-xs
            //-    include ../partials/date_time.pug
