- url = url || card.url
article.content-card--small.container
  .row
    a.img-container.col-xs-4.col-sm-12(href=url)
      include ../partials/small_card_image
    .content-card--small__info.col-xs-8.col-sm-12
      include ../partials/title
      include ../partials/card_date_time
