extends partials/page
block content
  .container
    .row
      .col-md-12
        h2
          a(href="/content-cards") Cards
      .col-md-12
        h2
          a(href='/collections') Collections
      .col-md-12
        h2
          a(href='/miscellaneous') Miscellaneous
      .col-md-12
        h2
          a(href='/css-utilities') CSS Utilities
