extends partials/page
block content
  .container
    .row
      .col-md-12
        h2
          a(href="/content-cards") Cards
      .col-md-12
        h2
          a(href='/ui-components') UI Components
      .col-md-12
        h2
          a(href='/css-utilities') CSS Utilities
      .col-md-12
        h2
          a(href='/embeds') Embeds
      .col-md-12
        h2
          a(href='/metas') Meta tags
