
article.content-card.content-card--impactful
  .row
    a.content-card__info.content-card--impactful__info.pad-0.col-xs-12(href=data.url)
      include ../partials/large_card_image.pug
      .title-container
        .title-container__item.col-md-5.pad-0
          span.title #{data.title}
