
article.content-card.content-card--impactful
  .row
    a.content-card__info.content-card__info--impactful.col-xs-12(href=data.url)
      include ../partials/large_card_image.pug
      .title-container
        .title-container__item.col-xs-12.col-sm-5.col-md-6
          span.title.impactful-text.impactful-text--card #{data.title}
