
article.content-card
  .row
    a.content-card__info.content-card--impactful.pad-0.col-xs-12(href=data.url)
      include ../partials/large_card_image.pug
      .title-container
        span.title #{data.title}
