.content-card {
  &--impactful {
    &__info {
      &:hover,
      &:active {
        text-decoration: none;
      }
      .title-container {
        height: 100%;
        width: 100%;
        &__item {
          padding: 0;
        }
      }
    }
  }
}

@include screen-sm-min {
  .content-card {
    &--impactful {
      &__info {
        padding: 0;
        .title-container {
          display: inline-flex;
          align-items: stretch;
          padding-right: rem-calc(5);
          position: absolute;
          bottom: 0;
          right: 0;
          white-space: nowrap;
          overflow: hidden;
          margin-top: auto;
          &__item {
            padding: 0;
            margin-left: auto;
            text-align: right;
            align-self: flex-start;
            margin-top: auto;
            .title {
              word-wrap: break-word;
              padding: rem-calc(5);
              color: $white-color;
              background-color: $black-color;
              line-height: 2;
              display: inline;
              box-decoration-break: clone;
              box-shadow: rem-calc(5) 0 0 $black-color, rem-calc(5) 0 0 $black-color;
            }
          }
        }
      }
    }
  }
}

@include screen-md-min {
  .content-card {
    &--impactful {
      &__info {
        .title-container {
          &__item {
            padding: 0 0 5% 0;
          }
        }
      }
    }
  }
}