.impactful-text {
  word-wrap: break-word;
  padding: rem-calc(5);
  color: $white-color;
  background-color: $black-color;
  line-height: 2;
  display: inline;
  box-decoration-break: clone;
  box-shadow: rem-calc(5) 0 0 $black-color, rem-calc(5) 0 0 $black-color;
}