@mixin border-radius($radius) {
  	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin text-overflow-hidden($whiteSpace,$display) {
	overflow: hidden;
    text-overflow: ellipsis;
	white-space: $whiteSpace;
	display: $display;
}