body {
    font-family: "Gotham A","Gotham B","helvetica neue",arial,helvetica,sans-serif;
}

.modified-container {
    max-width: 100%;
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
    color: $grey-color;
    white-space: nowrap;
    padding: 10px 10px 0px;

    @include text-overflow-hidden(nowrap, block);

    a {
        &:hover {
            text-decoration: none;
        }

        &:after {
            color: $grey-color;
            content: " | ";
            margin: 0.2rem;
        }
    }
}

.title {
    @include text-overflow-hidden(normal, inline-block);

    padding: 10px 10px 0;
    font-size: 16px;
    line-height: 1.35;
    letter-spacing: -.01em;

    a {
        color: $black-color;
        display: inline-block;
        padding: 0;

        &:hover {
            text-decoration: none;
        }
    }
}

.missing-image {
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50% 50%;
    width: 100%;
    display: inline-block;
    background-color: $black-color;
}

@media screen and (min-width: $screen-sm) {
    .title {
        font-size: 18px;
    }
}
