// --------------------------------------
//  Global 
$main-background-color: #ececec;
$border-radius-default: 0;
// --------------------------------------
// Typography Colors
$grey-color: #939393 !default;
$black-color: #000 !default;
$box-shadow-color: #d9d9d9 !default;
$white-color: #fff !default;
$border-color: #e1e1e1 !default;
$paginate-bg-color: #ddd!default;

