// --------------------------------------
//  Global 
$main-background-color: #ececec;
$border-radius-default: 0;
// --------------------------------------
// Typography Colors
$grey-color: #939393 !default;
$black-color: #000 !default;
