include ../mixins/smallContentCard
include ../mixins/largeContentCard
.row
  .col-sm-8.col-xl-6.large-narrow
    +largeContentCard(data.large)
  .col-sm-4.col-xl-3.large-narrow
    +smallContentCard(data.small)

-
  setTimeout(function() {
    window.bauerSharedLibs.components.content_cards_lg_and_nw()
  }, 0)