mixin largeContentCard(data)
  article.content-card--large.container
    .row
      a.content-card--large__link.col-xs-12(href=data.url)
        include ../partials/large_card_image.pug
      .content-card--large__info.col-xs-12
        include ../partials/title.pug
        include ../partials/card_date_time.pug