.engagesciences {
	position: relative;
	/*padding-bottom: 56.25%;*/
	height: 0;
	overflow: hidden;
	height: 100%;

	iframe, object, embed {
		position: relative;
		top: 0;
		left: 0;
		/* hack to make safari expand iframe to full width */
		width: 100px; 
		min-width: 100%; 
	}
}