.bauer-web-component-test
    h2 Test component
      br
      button#bauer-web-component-test-btn.btn.btn-default.btn-lg(type='button')
        span.glyphicon.glyphicon-wrench(aria-hidden='true')
        | #{title}
      br
    - var time = '6 mins ago'
    span Example helper (formatting relative time): #{time}
    