
.small-content-card {
    border-bottom: 1px solid $border-color;
    background-color: $white-color;
    display: inline-block;
    vertical-align: top;

    img {
        max-width: 100%;
        height: auto;
    }

    .tile-style {
            height: 100%;
            box-shadow: $box-shadow-color 1px 1px 2px;
    }
    
    &__info {
        height: inherit;
    }
}


@media (max-width: $screen-sm) {
    .small-content-card {
        width: 100% !important;
        img {
            max-width: 40%;
        }
        &__info {
            display: inline;
            position: absolute;
            padding: 12px;
            overflow: hidden;
            
        }
    }
}