picture.missing-image.brand-background-color(
  style={
    'background-image' : 'url('+noImage.sm+')'
    }
)
  source(
    srcset=noImage.lg.url
    media="(min-width: 439px)"
  )
  img(
    src=noImage.sm.url
    alt=image.altText 
  )
