picture.missing-image.brand-background-color(
  style={
    'background-image' : 'url('+data.noImage.sm.url+')'
    }
)
  source(
    srcset=data.noImage.sm.url
    media='(max-width: 439px)'
  )
  img(
    src=data.noImage.lg.url
    alt=data.title
  )
