picture.missing-image.brand-background-color(
  style={
    'background-image' : 'url('+noImage.sm.url+')'
    }
)
  source(
    srcset=noImage.sm.url
    media='(max-width: 439px)'
  )
  img(
    src=noImage.lg.url
    alt=image.altText
  )
