if data.asset
    - 
        var imageConfig = {
            data: {
                asset: data.asset,
                width: 120,
                devicePixelRatio: 2,
                cropType: data.heroImageThumbLandscape,
                cropData: data.heroImageThumbLandscape,
                ratio: '1-1',
                resizeStyle: 'aspectfill',
                quality: '50'
            },
            settings: {
                protocol: settings.protocol,
                imageDomain: settings.imageDomain,
                imageQuality: settings.imageQuality
            }
        }

    - var imgSrc = window.bauerSharedLibs.pug.helpers.imgCdn(data,settings)
        
    picture
        source(
             type=data.asset.image.mimeType
             srcset=imgSrc
             media="(max-width: 480px)"
        )
    img(
        srcset=imgSrc
    )
else
    include card_no_image