include ../mixins/relativeTimeUTC.pug

-
    var syndicateCategory = window.bauerSharedLibs.pug.helpers.syndicateCategory
    var syndicateCategoryLink = window.bauerSharedLibs.pug.helpers.syndicateCategoryLink

    var syndicateCategoryLinkData = {
        article: {
            categories: data.categories,
            publications: data.publications,
            composed: data.composed,
            primarySyndicatePosition: data.primarySyndicatePosition
        },
        channel: data.channel,
        displaySyndicate: data.displaySyndicate
    }

    var syndicateCategoryData = {
        article: {
            categories: data.categories,
            publications: data.publications,
            composed: data.composed,
            primarySyndicatePosition: data.primarySyndicatePosition
        },
        channel: data.channel,
        displaySyndicate: data.displaySyndicate,
        displayField: 'name'
    }

    var category = syndicateCategory(syndicateCategoryData)

if data.primarySyndicatePosition != ''
    span.hidden-xs.modified-container
        a.brand-color(href=syndicateCategoryLink(syndicateCategoryLinkData)) #{category}
        if data.lastModifiedAt
            +relativeTimeUTC(data.lastModifiedAt)
        else
            +relativeTimeUTC(data.publicationDate)
else
    span.hidden-xs.modified-container
        a.brand-color(href='/'+data.syndicateUrls+'/') #{data.categories[0].name}
        if data.lastModifiedAt
            +relativeTimeUTC(data.lastModifiedAt)
        else
            +relativeTimeUTC(data.publicationDate)