include ../mixins/primarySyndicate.pug
-	
	var primarySyndicateData = {
		channel: settings.channel,
		urls: data.syndicateUrls
	}

if data
	span.title
		a(href=+primarySyndicate(primarySyndicateData)) #{title}
