include ../mixins/primarySyndicate.pug
-	
	var primarySyndicateData = {
		channel: settings.channel,
		urls: data.syndicateUrls
	}

	var href = primarySyndicate(primarySyndicateData)

if data
	span.title
		a(href=href) #{title}
