article.content-card.content-card--large.container 
  .row
    a.content-card--large__link.content-card__link.col-xs-12(href=url)
      include ../partials/large_card_image.pug
    .content-card--large__info.content-card__info.col-xs-12
      include ../partials/title.pug
      include ../partials/card_date_time.pug
