article
	.large-content-card
			a.large-content-card__link(href=url)
				include ../partials/large_card_image.pug
			.large-content-card__info
				include ../partials/title.pug
				include ../partials/date_time.pug
