.large-content-card
{
	box-shadow: $box-shadow-color rem-calc(1) rem-calc(1) rem-calc(12);

	img
	{
		max-width: 100%;
	}

	&__info
	{
		height: rem-calc(142);
		display: inline-block;
		position: relative;
	}

	.modified-container
	{
		position: absolute;
    	bottom: 0;
    	left: 0;
	}
}